# Node modules
Margdarshak-main/node_modules/
Margdarshak-main/frontend/node_modules/

# Environment files
Margdarshak-main/.env

# Uploads or temp files
Margdarshak-main/backend/uploads/

# VSCode and system files
.vscode/
.DS_Store
Thumbs.db
